body {
  background-image: linear-gradient(269deg, #4286f5, skyblue);
  font-family: "Roboto", sans-serif;
}
.header{
  border-top: 4px solid rgba(200, 0, 0, 1);
  border-bottom: 4px solid rgba(200, 0, 0, 1);
  display: flex;
  justify-content: space-between;
}
.menu{
  padding: 15px;
  width: 50px;
}
.menu hr{
  width: 100%;
  border-top: 5px solid rgba(200, 0, 0, 1);
}
.header-text-container{
  width: 150px;
  padding: 10px;
  margin: auto;
  
}
h2{
  position: relative;
  color: rgba(0, 0, 0, 0);
}
h2::before{
  content: attr(data-text);
  height: 100%;
  overflow: hidden;
  color: rgba(200, 0, 0, 1);
  position: absolute;
  border-right: 4px solid rgba(200, 0, 0, 1);
  white-space: nowrap;
  animation: ene 4s infinite;
}
@keyframes ene{
  0%,100%{
    width: 0%;
  }
  50%{
    width: 94%;
  }
}
.logout-container{
  width: 50px;
  padding: 15px;
}
#logout{
  width: 100%;
}
#menu-bar, #logout-container{
  display: none;
}
.frame{
  width: 100%;
  height: 700px;
  display: block;
}