body {
  background-image: linear-gradient(269deg, #4286f5, skyblue);
  font-family: "Roboto", sans-serif;
}
.header-text-container{
  width: 30%;
  margin: auto;
}
h2{
  position: relative;
  color: rgba(0, 0, 0, 0);
}
h2::before{
  content: attr(data-text);
  height: 100%;
  overflow: hidden;
  color: red;
  position: absolute;
  border-right: 4px solid red;
  white-space: nowrap;
  animation: ene 4s linear infinite;
}
@keyframes ene{
  0%,100%{
    width: 0%;
  }
  50%{
    width: 94%;
  }
}